name: Build and Deploy Docs v4
on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    uses: telefon1c/.github/.github/workflows/retype-build.yml@main
    with:
      image-name: telefon1c/docs-v4
      s3-prefix: v4
    secrets:
      RETYPE_SECRET: ${{ secrets.RETYPE_SECRET }}
      YC_ACCESS_KEY: ${{ secrets.YC_ACCESS_KEY }}
      YC_SECRET_KEY: ${{ secrets.YC_SECRET_KEY }}
